.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #1f2124;
}

.ul {
  display: flex;
  justify-content: space-around;
}

.li {
  list-style-type: none;
  margin: 0 10px;
}

.li:hover {
  color: #c28c2e !important;
}

.ul a {
  text-decoration: none;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px !important;
  width: 75px !important;
  color: #d8cdb9;
}