.inputWrapper {
  position: relative;
}

.datetimePicker {
  color: #000 !important;
}

.datetimePicker tr td, tr th, span {
  color: #000 !important;
}

.formItem {
  >*+* {
    margin-top: 0.5rem;
  }
}