.inputWrapper {
    position: relative;
    margin: 0;
}

.datetimePicker {
    color: #000;
}

.datetimePicker tr td,
tr th,
.datetimePickerd span {
    color: #000;
}

.formItem {
    margin-bottom: 1rem;
    > * + * {
        margin-top: 0.1rem;
    }
}
