.inputWrapper {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
}

.datetimePicker {
    color: #000;
}

.datetimePicker tr td,
tr th,
.datetimePickerd span {
    color: #000;
}

.formItem {
    margin-bottom: 1rem;

    >*+* {
        margin-top: 0.1rem;
    }
}

.prefix,
.suffix {
    background-color: #d8cdb9;
    cursor: pointer;
    padding: 0 10px;
    color: #721b29;
    font-size: 1rem;
    margin: 0 5px;
}