.imageContainer {
  position: relative;
  padding: 10px;
}

.iconContainer {
  position: absolute;
  background-color: #222220;
  padding: 5px;
  border-radius: 50%;
  bottom: 5%;
  right: 0%;
}

.iconContainer:hover .icon path {
  fill: #c28c2e;
}

.image {
  width: 100px;
  height: 100px;
}