* {
  font-family: "JetBrains Mono",monospace;
  color: #d8cdb9 !important;
}

:root {
  --vintageEphemera: #d8cdb9;
  --coalBlack: #222220;
  --gothicGold: #c28c2e;
  --redBerry: #721b29;
  --primary: #043353;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 400px) {
  body {
    font-size: 70%;
  }
};
@media only screen and (min-width: 800px) {
  body {
    font-size: 75%;
  }
};
@media only screen and (min-width: 1000px) {
  body {
    font-size: 90%;
  }
};
@media only screen and (min-width: 1200px) {
  body {
    font-size: 100% ;
  }
};