* {
  font-family: "JetBrains Mono",monospace;
  color: #d8cdb9 !important;
}

:root {
  --vintageEphemera: #d8cdb9;
  --coalBlack: #222220;
  --gothicGold: #c28c2e;
  --redBerry: #721b29;
  --primary: #043353;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 1000px) {
  html {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 1.3rem;
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="tel"] {
  font-size: inherit; /* Inherit font size from parent */
}

input[type="text"],
input[type="password"],
textarea {
  font-size: inherit; /* Inherit font size from parent */
}
