.footer {
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: #1f2124;
  color: #d8cdb9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  text-align: center;
}